/* Mengatur tampilan elemen utama <main> */
main {

  /* Mengatur teks agar berada di tengah secara horizontal */
  text-align: center;

  /* Mengatur posisi vertikal konten */
  vertical-align: center;

  /* Menggunakan Flexbox untuk mengatur tata letak elemen */
  display: flex;

  /* Mengatur elemen anak tersusun secara vertikal dari atas ke bawah */
  flex-direction: column;

  /* Memberikan jarak 30 piksel dari bagian atas halaman */
  margin-top: 30px;

  /* Mengatur ukuran dasar elemen fleksibel secara otomatis */
  flex-basis: auto;
}
